
/*####################################################################*/
/*#                             CUSTOMIZAÇÃO                         #*/
/*####################################################################*/
html,
body,
#root,
.container-full
{
	height: 100%;
}

aside {
	height: 100%;
}

.height-100 {
	height: 100%;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-margin-left {
	margin-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-margin-right {
	margin-right: 0 !important;
}

.ReactTable .-pagination .-btn {
	background-color: #e64a67 !important;
	color: #ffffff !important;
}

.ReactTable .-pagination .-pageJump input {
	color: black;
}

.ReactTable .-pagination input, .ReactTable .-pagination select {
	color: black;
}

.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select {
	color: black;
}

/*####################################################################*/
/*#                     FECHA   CUSTOMIZAÇÃO                         #*/
/*####################################################################*/

.paddingBoxs{
	padding: 10px 25px;
}
.createCampaign{
	height: 400px;
}

.smallIcon{
	width: 40px;
}

.padding5{
	padding: 5px;
}

.heartbitGrey{
	color: #4d585f !important;
}

.heartbitGrey:hover{
	background-color: #fff !important;
	color: #4d585f !important;
}

.heartbitGreen{
	color: #4caf50 !important;
}

.heartbitGreen:hover{
	background-color: #fff !important;
	color: #4caf50 !important;
}

.heartbitPointGreen{
	background-color: #4caf50 !important;
}

.heartbitPointGrey{
	background-color: #4d585f !important;
}

.userText{
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
}

.referenceImage{
	width: 48px;
}

#mynetwork {
  height: 500px;
  border: 0px solid lightgray;
}

.normalText{
	color: #000;
}

.modal .modal-header .close {
    color: #f2f2f2;
}